/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: black;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  footer {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .header2{
    border: 2px solid ;
    color : white;
    height: 30vh;
    /*width: 800px; */
    margin: auto;
    background-color: #213363;
    border-radius: 1rem;
    padding: 1rem;
    text-align:center;
    font-size: 25px;
    
    
}
.header2 p{
    max-width:600px;
    text-align:center;
    
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
    font-size: 25px;

}

.link {
    box-sizing: border-box;
    text-decoration: none;
    margin-top: 4vw;
    
}

.primary{
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: rgb(62, 140, 167);
    color: #fff;
    margin: auto;
    border-radius: 2rem;
}

.secondary{
    max-width: 140px;
    margin: auto;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid lightskyblue;
    color: lightblue;
}

.header{
    border: 2px solid ;
    color : white;
    height: 30vh;
   
    margin: auto;
    background-color:#22A699;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    font-size: 25px;
  

}

.header .link{
  margin-top: 0rem;
}

a{
  padding: 2rem;
  color: white;
}

h1{
  font-size: 35px;
}

.name{
  text-align: center;
  color: #4F709C ;
  font-size: 4rem ;
}